@model Examonitor.Models.MonitorBeurtModel

@{
    ViewBag.Title = "Delete";
}

<h2>Verwijderen van monitorbeurt</h2>

<h3>Ben jij zeker dat jij je monitorbeurt "@Html.DisplayFor(model => model.ExamenNaam)" wilt verwijderen?</h3>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

        <div class="btn-group">
            <input type="submit" value="Verwijderen" class="btn btn-success btn-default" />
            <input type="BUTTON" value="Annuleren" class="btn btn-danger btn-default" onclick="window.location.href = '@Url.Action("Index")'" />
        </div>
}
