@model Examonitor.Models.MonitorBeurtModel

@{
    ViewBag.Title = "Monitorbeurten importeren";
}

<h2>@ViewBag.Title</h2>

<p>Een json tekstbestand importeren.</p>
<p>Voorbeeld:<b>
    <pre>
{
	"monitorbeurten": [
		{
			"monitorbeurt": 
			{
			  "ExamenNaam": "Monitorbeurt 1",
			  "BeginDatum": "2013/10/18 08:00 AM",
			  "EindDatum": "2013/10/18 08:00 PM",
			  "Capaciteit": 10,
			  "Digitaal": false,
			  "Campus": "Campus 1"
			}
		},
		{
			"monitorbeurt": 
			{
			  "ExamenNaam": "Monitorbeurt 2",
			  "BeginDatum": "2013/10/18 08:00 AM",
			  "EindDatum": "2013/10/18 08:00 PM",
			  "Capaciteit": 20,
			  "Digitaal": true,
			  "Campus": "Campus 2"
			}
		}
	]
}
</pre>
    </b></p>
<p>Indien de campus niet bestaat zal deze aangemaakt worden.</p>
<p>TODO: testen schrijven (Exception handling) en de input van DateTime aanpassen zodat het nakkelijker is te exporteren/importeren</p>
@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-horizontal col-sm-4">
        <div class="form-group">
            <input type="file" id="file" name="file" class="btn btn-success btn-sm" />
        </div>
    </div>
        <div class="form-group">
            <input type="submit" value="Importeren" class="btn btn-success btn-default" />
        </div>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}